@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(196, 140, 140);
    display: flex;
    justify-content: center;
} 

.hide{
    display: none;
}

.main{
    background: pink;
    border: 5px solid white;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    min-width: 463px;
    text-align: center;
}

.main > h3{
    display: inline-block;
    border: 3px solid white;
    text-shadow: 1px -1px rgb(219, 72, 114),
                -1px 1px rgb(219, 72, 114),
                -1px -1px rgb(219, 72, 114),
                1px 1px rgb(219, 72, 114),
                0px 1px rgb(219, 72, 114),
                0px -1px rgb(219, 72, 114),
                1px 0px rgb(219, 72, 114),
                -1px 0px rgb(219, 72, 114);

    color: rgb(236, 177, 177);
    
    border-radius: 3px;
    padding: 10px 5px;
    margin: 10px 0;
}

form{
    text-align: left;
}

.field, .answer{
    /* display: block; */
    margin: 0 auto;
    width: 70%;
    display: flex;
}
label{
    display: inline-block;
    width: 50%;
    background: whitesmoke;
    height: 23px;
    border: 1px solid black;
    border-radius: 1px;
}
select, #kilos{
    width: calc(50%);
    display: inline-block;
    /* height: 24px; */
}
#kilos{
    height: 23px;
}
#calcularBtn{
    display: block;
    margin: 20px auto;

}

.answer{
    display: flex;
    justify-content: center;
}

.answer > section{
    flex-grow: 1;
    padding-bottom: 20px;
}

.data{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
