@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(196, 140, 140);
    display: flex;
    justify-content: center;
} 



.main{
    background: pink;
    border: 5px solid white;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    min-width: 400px;
    text-align: center;
}

.main > h3{
    display: inline-block;
    border: 3px solid white;
    /* text-shadow: 1px -1px rgb(219, 72, 114),
                -1px 1px rgb(219, 72, 114),
                -1px -1px rgb(219, 72, 114),
                1px 1px rgb(219, 72, 114),
                0px 1px rgb(219, 72, 114),
                0px -1px rgb(219, 72, 114),
                1px 0px rgb(219, 72, 114),
                -1px 0px rgb(219, 72, 114); */
    /* -webkit-text-stroke: 1px rgb(219, 72, 114); */
    color: rgb(219, 72, 114);
    
    border-radius: 3px;
    padding: 10px 5px;
    margin: 10px 0;
}

form{
    text-align: left;
}

.field, .answer{
    /* display: block; */
    margin: 0 auto;
    width: 70%;
    display: flex;
}
label{
    display: inline-block;
    width: 50%;
    background: whitesmoke;
    height: 23px;
    border: 1px solid black;
    border-radius: 1px;
    line-height: 23px;
}

label, select, #kilos{
    font-size: 0.8rem;
}

select, #kilos{
    width: calc(50%);
    display: inline-block;
    /* height: 24px; */
}
#kilos{
    height: 23px;
}
#calcularBtn{
    display: block;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 12px;
    background: rgb(219, 72, 114);
    color: white;

}
#calcularBtn:hover{
    cursor:pointer;
}

.answer{
    display: flex;
    justify-content: center;
}

.answer > section{
    flex-grow: 1;
    padding-bottom: 20px;
}

.data{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    
}
#dosisInput{
    width: 50px;

}

.data span{
    line-height: 23px;    
}

#respuesta{
    border: 3px solid white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    /* font-size: 60px; */
    /* -webkit-text-strokse: 1px black; */

}

.hide{
    display: none;
}